*{
  margin: 0;
  padding: 0;
}

.contenedor-articulos{
  padding: 30px 0px;
}

.articulo{
  width: 200px;
  color: #fff;
  background-color: rgb(107, 11, 11);
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 10px #ed8d8d;
  border-radius: 10px;
  font-family: 'Roboto Slab', serif;
}

.titulo-articulo{
  font-size: 20px;
}

.caracteristicas-articulo{
  font-size: 15px;
  margin-bottom: 5px;
}

.imagen-articulo{
  width: 200px;
  border-radius: 5px;
  align-items: center;
}